$l-bg-primary: rgba(255, 255, 255, 1);
$l-bg-secondary: rgba(29, 29, 38, 1);
$l-color-primary: rgba(0, 0, 0, 1);
$l-color-secondary: rgba(203, 203, 203, 1);
$l-text-shadow: rgba(0, 0, 0, 1) 1px 1px 1px;

$d-bg-primary: rgba(32, 34, 46, 1);
$d-bg-secondary: rgba(29, 29, 38, 1);
$d-color-primary: rgba(203, 203, 203, 1);
$d-text-shadow: rgba(0, 0, 0, 1) 1px 1px 1px;
