/* top right bottom left */
body {
  background-color: #1d1d26;
  color: #cbcbcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

a {
  color: #cbcbcb;
  text-decoration: none;
}

a:hover {
  color: #cbcbcb;
  text-decoration: underline;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-control {
  color: #cbcbcb;
  background-color: #1d1d26;
  border: none;
  border-radius: 0;
}

.form-control:focus {
  color: #cbcbcb;
  background-color: #1d1d26;
}

.form-control:focus label {
  left: 5;
}

.form-label-group {
  position: relative;
  margin-bottom: 16px;
}

.form-label-group > input,
.form-label-group > label {
  height: 50px;
  padding: 12px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #cbcbcb;
  pointer-events: none;
  cursor: text;
  border: 1px solid #cbcbcb;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group input:-ms-input-placeholder,
.form-label-group input::-ms-input-placeholder,
.form-label-group input::-moz-placeholder,
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group input:-ms-input-placeholder,
.form-label-group input::-ms-input-placeholder,
.form-label-group input::-moz-placeholder,
.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding: 20px 12px 4px 12px;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding: 4px 12px 4px 12px;
  font-size: 13px;
  color: #cbcbcb;
}

._btn {
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #cbcbcb;
  border: 1px solid #cbcbcb;
  border-radius: 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
  background-color: #1d1d26;
}

._btn:hover {
  color: #1d1d26;
  background-color: white;
}

._btn.disabled:hover {
  color: #cbcbcb;
  background-color: #1d1d26;
  cursor: no-drop;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  z-index: 51;
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  color: #1d1d26;
  background-color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 4px 2px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 4px 2px;
}

.skewed-top {
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #1d1d26;
  border-bottom: 2px solid #cbcbcb;
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  z-index: 50;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 4px 2px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 4px 2px;
}

.skewed-bottom {
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #1d1d26;
  border-top: 2px solid #cbcbcb;
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  z-index: 50;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 4px 2px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 4px 2px;
}

.themes {
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 51;
}

.themes > button {
  width: 40px;
  height: 40px;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 0;
  color: #cbcbcb;
  background-color: #1d1d26;
  border: 2px solid #cbcbcb;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.themes > button:hover {
  color: #1d1d26;
  background-color: white;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin-left: -300px;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  background-color: #1d1d26;
  z-index: 50;
  border-right: 1px solid #cbcbcb;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.sidebar.active {
  margin-left: 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
}

.sidebar-btn {
  position: absolute;
  bottom: 0%;
  left: 100%;
  padding: 0;
  margin: 0;
  z-index: 50;
}

.sidebar-btn > button {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  color: #cbcbcb;
  background-color: #1d1d26;
  border-top: 2px solid #cbcbcb;
  border-left: none;
  border-right: 2px solid #cbcbcb;
  border-bottom: none;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 2px -2px 2px -1px;
          box-shadow: rgba(255, 255, 255, 0.3) 2px -2px 2px -1px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
}

.sidebar-btn > button:hover {
  color: #1d1d26;
  background-color: white;
}

.sidebar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.sidebar-header {
  font-size: 24px;
  padding: 50px 10px 50px 10px;
  text-align: center;
  border-bottom: 1px solid #cbcbcb;
}

.sidebar-entry {
  padding: 10px 5px 10px 5px;
  color: #cbcbcb;
  border: none;
  border-bottom: 1px solid #cbcbcb;
  text-align: left;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.sidebar-entry:nth-child(odd) {
  background-color: #1d1d26;
}

.sidebar-entry:nth-child(even) {
  background-color: #3b3b44;
}

.sidebar-entry:hover {
  color: #1d1d26;
  background-color: white;
}

.lobby {
  border: 2px solid #cbcbcb;
  width: 100%;
  max-height: 500px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.lobby-entry {
  padding: 10px;
}

.lobby-entry:nth-child(odd) {
  background-color: #1d1d26;
}

.lobby-entry:nth-child(even) {
  background-color: #3b3b44;
}

.menu-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1337;
}

.menu-overlay .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  border: 2px solid #cbcbcb;
  width: 100%;
  min-height: 500px;
  max-height: 500px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px 1px;
  background-color: #1d1d26;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-close {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 0;
  margin: 0;
  z-index: 1338;
}

.menu-close > button {
  width: 40px;
  height: 40px;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 0;
  color: #cbcbcb;
  background-color: transparent;
  border: none;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.menu-close > button:hover {
  color: #1d1d26;
  background-color: white;
}

.profile-header {
  padding: 50px 10px 50px 10px;
  text-align: center;
  border-bottom: 1px solid #cbcbcb;
}

.profile-content {
  padding: 50px 10px 50px 10px;
  text-align: center;
}

.t-48px {
  font-size: 48px;
}
