/* top right bottom left */
body {
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.main-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-control {
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 0;
  font-weight: bold;
}

.form-control:focus {
  color: black;
  background-color: white;
}

.form-control:focus label {
  left: 5;
}

.form-label-group {
  position: relative;
  margin-bottom: 16px;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
  border: 1px solid #1d1d26;
}

.form-label-group > input,
.form-label-group > label,
.form-label-group > select {
  height: 48px;
  padding: 12px;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: black;
  pointer-events: none;
  cursor: text;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group input:-ms-input-placeholder,
.form-label-group input::-ms-input-placeholder,
.form-label-group input::-moz-placeholder,
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group input:-ms-input-placeholder,
.form-label-group input::-ms-input-placeholder,
.form-label-group input::-moz-placeholder,
.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding: 20px 12px 4px 12px;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding: 4px 12px 4px 12px;
  font-size: 13px;
  color: black;
}

label span {
  color: red;
}

input[type='file'] {
  display: none;
}

.custom-upload {
  margin-bottom: 16px;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
  border: 1px solid #1d1d26;
  height: 50px;
}

.custom-upload label {
  display: inline-block;
  height: 48px;
  padding: 12px;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
}

._btn {
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  color: black;
  border: 1px solid #1d1d26;
  border-radius: 0;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
  background-color: white;
}

._btn:hover {
  color: #cbcbcb;
  background-color: #1d1d26;
}

._btn.disabled:hover {
  color: black;
  background-color: white;
  cursor: no-drop;
}

._form {
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  color: black;
  border: 1px solid #1d1d26;
  border-radius: 0;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
  background-color: white;
  padding-left: 30px;
}

._form:hover {
  color: black;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  z-index: 51;
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  color: #cbcbcb;
  background-color: #1d1d26;
  -webkit-box-shadow: #a0a0a0 0 0 4px 2px;
          box-shadow: #a0a0a0 0 0 4px 2px;
}

.skewed-top {
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  border-bottom: 2px solid #1d1d26;
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  z-index: 50;
  -webkit-box-shadow: #a0a0a0 0 0 4px 2px;
          box-shadow: #a0a0a0 0 0 4px 2px;
}

.skewed-bottom {
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  border-top: 2px solid #1d1d26;
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  z-index: 50;
  -webkit-box-shadow: #a0a0a0 0 0 4px 2px;
          box-shadow: #a0a0a0 0 0 4px 2px;
}

.themes {
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 51;
}

.themes > button {
  width: 40px;
  height: 40px;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  border: 2px solid #1d1d26;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.themes > button:hover {
  color: #cbcbcb;
  background-color: #1d1d26;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin-left: -300px;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  background-color: white;
  z-index: 50;
  border-right: 2px solid #1d1d26;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.sidebar.active {
  margin-left: 0;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
}

.sidebar-btn {
  position: absolute;
  bottom: 0%;
  left: 100%;
  padding: 0;
  margin: 0;
  z-index: 50;
}

.sidebar-btn > button {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  border-top: 2px solid #1d1d26;
  border-left: none;
  border-right: 2px solid #1d1d26;
  border-bottom: none;
  -webkit-box-shadow: #a0a0a0 2px -2px 2px -1px;
          box-shadow: #a0a0a0 2px -2px 2px -1px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
}

.sidebar-btn > button:hover {
  color: #cbcbcb;
  background-color: #1d1d26;
}

.sidebar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.sidebar-header {
  font-size: 24px;
  padding: 50px 10px 50px 10px;
  text-align: center;
  border-bottom: 2px solid #1d1d26;
}

.sidebar-entry {
  padding: 10px 5px 10px 5px;
  color: black;
  border: none;
  border-bottom: 2px solid #1d1d26;
  text-align: left;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.sidebar-entry:nth-child(odd) {
  background-color: white;
}

.sidebar-entry:nth-child(even) {
  background-color: #cdcdcd;
}

.sidebar-entry:hover {
  color: #cbcbcb;
  background-color: #1d1d26;
}

.lobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #1d1d26;
  margin: 10px;
  max-height: 300px;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.lobby-entry {
  padding: 10px;
}

.lobby-entry:nth-child(odd) {
  background-color: white;
}

.lobby-entry:nth-child(even) {
  background-color: #cdcdcd;
}

.cc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px;
}

.cc > * {
  margin: 0 10px 0 10px;
}

.menu-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1337;
}

.menu-overlay .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  border: 2px solid #1d1d26;
  width: 100%;
  min-height: 500px;
  max-height: 500px;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
  background-color: white;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-close {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 0;
  margin: 0;
  z-index: 1338;
}

.menu-close > button {
  width: 40px;
  height: 40px;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 0;
  color: black;
  background-color: transparent;
  border: none;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.menu-close > button:hover {
  color: #cbcbcb;
  background-color: #1d1d26;
}

.profile-header {
  padding: 30px 10px 30px 10px;
  text-align: center;
  border-bottom: 2px solid #1d1d26;
}

.profile-content {
  padding: 30px 10px 30px 10px;
  text-align: center;
}

.t-48px {
  font-size: 48px;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid #1d1d26;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
}

.custom-toggle {
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0.5px;
  color: black;
  border: 1px solid #1d1d26;
  border-radius: 0;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
  background-color: white;
}

.custom-toggle:hover {
  color: black;
}

.custom-toggle > div {
  width: 15px;
  height: 15px;
  border: 1px solid #1d1d26;
  margin: 4px 6px 0 0;
}

.custom-toggle > div.black {
  background-color: black;
}

.custom-toggle > div.white {
  background-color: white;
}

.err {
  color: red;
}

.dropdown {
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
  border: 1px solid #1d1d26;
}

.form-control:disabled {
  color: black;
  background-color: white;
  opacity: 0.65;
}

.game-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.game-bg {
  width: 800px;
  height: 608px;
  padding: 1px 16px 1px 16px;
  background-color: #1d1d26;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
}

.game-bg > .row > .col {
  padding: 0;
  margin: 1px;
  height: 99px;
}

.game-bg > .row:nth-child(odd) > .col:nth-child(odd) {
  background-color: white;
}

.game-bg > .row:nth-child(odd) > .col:nth-child(even) {
  background-color: #cdcdcd;
}

.game-bg > .row:nth-child(even) > .col:nth-child(odd) {
  background-color: #cdcdcd;
}

.game-bg > .row:nth-child(even) > .col:nth-child(even) {
  background-color: white;
}

.game-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.game-hover-overlay-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.game-hover-overlay-wrapper > .row > .col {
  padding: 0;
  width: 114px;
  height: 606px;
  z-index: 500;
}

.coin1 {
  border-radius: 50%;
  width: 88px;
  height: 89px;
  margin: 5px 0 0 12px;
  background-color: blue;
  border: 2px solid #1d1d26;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
}

.coin2 {
  border-radius: 50%;
  width: 88px;
  height: 89px;
  margin: 5px 0 0 12px;
  background-color: red;
  border: 2px solid #1d1d26;
  -webkit-box-shadow: #a0a0a0 0 0 2px 1px;
          box-shadow: #a0a0a0 0 0 2px 1px;
}

.preselect {
  position: absolute;
  top: -120px;
  left: 0;
}
