/* top right bottom left */
/* CORE */
body,
html {
  background-color: white;
  color: black;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* ---- */
